<!DOCTYPE html>

{% extends 'sih_app/base.html' %}
{% load crispy_forms_tags %}

    {% block body_block %}
    <br>
    <div class="container">
            <div style="" class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
        
                        <h1>Welcome!</h1> 
            <h2>Register your plant here :</h2>
            <!-- <form method="POST">
                
                {{ form.Plant_name }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" Value="Submit">
            </form> -->
        
            <form method="POST">
                         <span style="size:12px">{{ form|crispy}}</span> 
                         {% csrf_token %} 
                         <input type="submit" class="btn btn-primary" Value="Submit">
                </form> 
                </div>
    </div>
    {% endblock %}