<!DOCTYPE html>

{% extends 'sih_app/base.html' %}
{% load staticfiles %}
    {% block body_block %}

    <div class="container">
            <h1>Welcome!</h1>
            <h2>Register your plant here :</h2>
            <!-- <form method="POST">
                
                {{ form.Plant_name }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" Value="Submit">
            </form> -->
        
            <form class="form-horizontal" method="POST">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Plant Name</label>
                      <div class="col-sm-10">
                            {{ form.plant_name }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Plant Breed</label>
                        <div class="col-sm-10">
                            {{ form.plant_breed}}
                            
                      </div>
                    </div>
                    <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Location</label>
                            <div class="col-sm-10">
                                  {{ form.location }}
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Upload Image</label>
                            <div class="col-sm-10">
                                  {{ form.photo }}
                            </div>
                    </div>
                    {% csrf_token %}
                    <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label"></label>
                              <div class="col-sm-10">
                                    <input type="submit" class="btn btn-primary" Value="Submit">
                                  
                    </div>
                    
            </form>
    </div>
    {% endblock %}